/* .pic{
    background: url(images.jpg) no-repeat center/cover;
} */

.pic{
    color:white;
    background: url(../src/Pictures/image.jpg) no-repeat center/cover;
    /* background-color: rgb(69, 110, 97); */
    height: 300px;
    
}
.font{
    font-family: 'Oleo Script Swash Caps', cursive;
}
.input-group.inp{
    margin: 0 auto;
    width: 40%;
}
.but{
width: 100px;
}
.cardedit h5{
    font-family: cursive;
}
.cardedit ul li{
    font-family: 'Oleo Script Swash Caps';
}

.style{
    font-family: cursive;
}
.card{
    margin-top: 59px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.cardd.css-1xez8po-MuiPaper-root-MuiCard-root {
    margin-top: 59px;
}
span.MuiTypography-root.MuiTypography-h5.MuiCardHeader-title.css-1qvr50w-MuiTypography-root {
    font-size: large;
    font-family: cursive;
    text-align: center;
}
.n{
    color: rgb(180, 114, 119);
    font-weight: bold;
}
.cook{
    color: sienna;
    margin-right: 6px;
}
.cook1{
    color: rgb(19, 20, 21);
    margin-right: 28px;
}
